<!-- File: bottom_nav.ejs - Created by: Akash Arora - Student Number: 300849838 - Created on: October 2nd, 2022 -->

<!-- Bottom Nav -->
<footer>

    <nav class="navbar fixed-bottom navbar-dark bg-dark">
    
    <h6 class="navbar-text">&copy; Copyright 2022. All Rights Reserved.</h6>
    

    
    </nav>
    </footer>