<!-- File: footer.ejs - Created by: Akash Arora - Student Number: 300849838 - Created on: October 2nd, 2022 -->

<!-- Script Section -->

<script src="jquery/dist/jquery.slim.min.js"></script>
    
<script src="bootstrap/dist/js/bootstrap.min.js"></script>

<script src="/scripts/app.js"></script>
</body>
</html>

