<!-- File: about.ejs - Created by: Akash Arora - Student Number: 300849838 - Created on: October 2nd, 2022 -->

<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>
<!-- Full Name -->
<h1 class="mytitle">Akash Arora</h1>

<!-- Title & Picture -->
<h2 class="mytitle">Software Engineering Technology & AI - Student</h2>
<img src="assets/images/akash.jpg " width="300" height="350" alt="Akash Picture" class="myphoto">

<!-- Summary about me  -->
<div class="about-me">
  <ul id="aboutlist">
     <li>Currently enrolled in the <b>Software Engineering Technology</b> Advanced Diploma program with specialization in <b>Artificial Intelligence</b> at Centennial</li>
     <br>
     <li>Demonstrated strong skills in <b>HTML5, CSS, JavaScript and WordPress</b> operations while working on eCommerce business project at <b>Scriptics Technologies Inc.</b></li>
     <br>
     <li>Ability to work <b>efficiently</b> and <b>effectively</b> in fast-paced professional environment.</li>
     <br>
     <li>Enhanced <b>time management</b> and <b>decision-making</b> skills while balancing between academic, professional and athletic responsibilities.</li>
  </ul>
</div>

<!-- Resume -->
<p id="resumelink">Click <a href="Akash.pdf">here</a> to view my Resume in PDF version</p>


<%- include partials/bottom_nav.ejs %>

<%- include partials/footer.ejs %>